<!DOCTYPE>
<html lang="en">

{% extends "base.html" %}

{% block content %}

    <h1 class="title">{{ movie.title }}</h1>

    <span>
        <p class="genres" style="background-color: grey; padding-bottom: 30px; padding-left: 18%; margin-bottom: -20px">
                {% set genres_liste = movie.genres.split(", 'name':") %}
                {% for genre in genres_liste[1:] %}
                     {{ genre.split("'")[1] }}
                {% endfor %}
        <p/>
    </span>

    <section class="moovie">
         <script>
                    fetch('https://api.themoviedb.org/3/movie/{{ movie.id }}?api_key=efb085c962ddea6d1ae6e43ca6aa7a37')
                    .then(res => res.json())
                    .then((out) => {
                    return document.getElementById('dynamicImg{{ movie.id }}').src = ('https://image.tmdb.org/t/p/original'+out.poster_path);
                    }).catch(err => console.error(err))
            </script>

            <img id="dynamicImg{{ movie.id }}" src="" onerror="this.src='static/images/default.jpg'" />
        <div>
        <h3 class="title">Synopsis</h3>
        <p class="overview">
            {{ movie.overview }}
        </p>
        </div>
    </section>

{% endblock %}





<!-- SCRIPTS-->
<script
src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"
></script>
<!-- END OF SCRIPTS -->
</body>
</html>


